<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <title>Add Book and Review</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css' />
</head>
<body>
    <h2>{{ book.title }}</h2>
    <p>Author: {{ book.author }}</p>
    <div class="container">
        <h3>Reviews</h3>
        {% for review in reviews %}
            <p>Rating:</p>
            <p><a href="/users/{{ review.user.id }}">{{ review.user.first_name }}</a> says: {{ review.review }}</p>
            <p>Posted on {{ review.created_at }}</p>
            {% if review.user.id == user.id %}
                <a href="/books/{{ book.id }}/delete_review/{{ review.id }}">Delete Review</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <h3>Add a Review</h3>
        <form action="/books/{{ book.id }}/process_review" method="POST">
        {% csrf_token %}
            <textarea name="review" class="form-control" rows="5"></textarea>
            <div class="row">
                <label class="col-sm-2">Rating:</label>
                <select class="col-sm-1" name="stars">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="row">
                <input class="btn btn-primary" type="submit" value="Submit Review">
            </div>
        </form>
    </div>
</body>
</html>